body {
  background-color: #222;
}

.row {
  display: flex;
}

.been {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  border: 2px solid #333;
  font-size: 8px;
}

.been.alive::before{
  content: '👀';
}

.been:hover::before{
  content: '👀';
}

.been:hover{
  background-color: rgb(106, 20, 156)!important;
}

.been.alive{
  background-color: rgb(13, 196, 150);
}

.been.dead {
  background-color: #333;
}

